.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.header__center{
    margin-left: 20px;
}

.header__right{
    margin-right: 20px;
}

.headerRight__button1 {
    margin-right: 20px;
}